
<nav class="navbar navbar-default" ng-controller="UserCtrlr">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/user">
        <span class="glyphicon glyphicon-book"></span> SGLiB
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-book"></span> Acervo <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#/user/acervo">
                <span class="glyphicon glyphicon-th-list"></span> Busca</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:void(0);">
                <span class=""></span> Outra opção</a>
            </li>
            <li class="divider"></li>
            <li><a href="javascript:void(0);">Mais outra opção</a></li>
          </ul>
        </li>
        <li class="">
          <a href="#/user/{{user.credentials.id}}/locacao">
            <span class="glyphicon glyphicon-calendar"></span> Locações</a>
        </li>
        <li>
          <a href="#/user/{{user.credentials.id}}/reserva">
            <span class="glyphicon glyphicon-saved"></span> Reservas</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Augusto
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="min-width: 26rem;">
            <li>
              <a href="#/user/{{user.credentials.id}}/profile" accesskey="p">
                <span class="badge pull-right">
                 <small>Alt + Shift + P</small>
                </span>
                <span>
                  <span class="glyphicon glyphicon-user"></span> Meu perfil
                </span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#/user/{{user.credentials.id}}/settings" accesskey="s">
                <span class="badge pull-right">
                 <small>Alt + Shift + S</small>
                </span>
                <span>
                  <span class="glyphicon glyphicon-cog"></span> Configurações
                </span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#/logout" ng-click="logout()" accesskey="e" class="clearfix">
                <span class="badge pull-right">
                 <small>Alt + Shift + E</small>
                </span>
                <span>
                  <span class="glyphicon glyphicon-log-out"></span> Sair
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
