/* .data-table { */
/*   width: 100%; */
/* } */

/* .data-table tbody tr:hover { */
/*   background-color: rgba(220, 220, 220, 0.5) !important; */
/* } */

/* .data-table tbody tr:nth-child(even) { */
/*   background-color: #dcdcdc; */
/* } */

/* .data-table th { */
/*   background-color: lightgray; */
/* } */

/* input, select { */
/*   width: 100%; */
/*   margin: 5px 0; */
/* } */

/* fieldset legend { */
/*   text-transform: uppercase; */
/* } */

/* fieldset fieldset { */
/*   border: none; */
/*   border-top: dashed 1px gray; */
/*   padding: 0; */
/*   margin: 5px 0; */
/*   padding: 5px 0; */
/* } */
table caption {
  text-align: center;
}

#loading-bar .bar {
  background: red;
  /* -moz-box-shadow: red 1px 0 6px 1px; */
  /* -ms-box-shadow: red 1px 0 6px 1px; */
  /* -webkit-box-shadow: red 1px 0 6px 1px; */
  /* box-shadow: red 1px 0 6px 1px; */
  border-top-color: red;
  border-left-color: red;
}