<div>
  <ol class="breadcrumb">
    <li>
      <a href="#/">Início</a></li>
    <li>
      <a href="#{{rootPath}}">Unidades</a></li>
    <li class="active">
      {{data.id > 0 ? 'Detalhes' : 'Nova'}}</li>
  </ol>
  <div class="well">
    <form class="form-horizontal" action="javascript:void(0);" method="post" ng-submit="save('/admin/biblioteca')" ng-init="edit(params.id)">
      <fieldset>
        <legend>Cadastro de Unidades</legend>
        <input type="hidden" name="id" ng-model="data.id">
        <div class="form-group">
          <div class="col-lg-12">
            <label class="control-label">
              Nome</label>
            <input class="form-control" name="nome" type="text" ng-model="data.nome" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="control-label">
              Endereço</label>
            <input class="form-control" type="text" ng-model="data.endereco" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="control-label">
              Validade das Reservas (em dias)</label>
            <input class="form-control" type="number" ng-model="data.qteDiasValidadeReserva" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="control-label">
              Validade das Locações (em dias)</label>
            <input class="form-control" type="number" ng-model="data.qteDiasLocacao" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="control-label">
              Multa</label>
            <input class="form-control" type="number" min="0" step="0.01" ng-model="data.multaDiaria" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12 modal-footer">
            <a class="btn btn-sm btn-default" ng-click="cancel('/admin/biblioteca')">
              <span class="glyphicon glyphicon-chevron-left"></span> Voltar
            </a>
            <button class="btn btn-sm btn-primary" type="submit">
              <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
