<section class="user-mgmt" ng-controller="BibliotecaCtrlr" ng-init="load()">
  <table class="table table-striped table-hover">
    <caption>
      Bibliotecas
      | <a class="btn btn-xs btn-primary" href="#{{rootPath}}/new">
        <span class="glyphicon glyphicon-certificate"></span> Nova
      </a>
    </caption>
    <thead>
      <tr>
        <th>
            Item</th>
        <th style="width: 8rem;">
            Ações</th>
      </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
      <tr ng-repeat="item in itens">
        <td>
          <div>
            &#35;{{item.id}} - <strong>{{item.nome}}</strong>
          </div>
          <div>
            <small>
              <em>{{item.endereco}}</em>
            </small>
          </div>
        </td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-primary" href="#{{rootPath}}/{{item.id}}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a data-target="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
              <li>
                <a class="" href="#{{rootPath}}" ng-click="remove(item.id)">
                  <span class="glyphicon glyphicon-remove"></span> Deletar
                </a>
              </li>
              <li class="divider"></li>
              <li><a class="" href="#">Ver detalhes</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
