<style>
.form-login {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
</style>
<form class="form-horizontal" action="javascript:void(0);" method="post" ng-submit="login()" ng-show="user.credentials == null">
  <div class="form-login col-sm-6 col-xs-12 col-md-6 col-lg-4">
    <div class="panel panel-primary">
      <div class="text-center">
        <h3>Autenticação</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-lg-12">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <input class="form-control" name="login" type="text" ng-model="credentials.login" placeholder="Login" required autofocus>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </div>
              <input class="form-control" name="login" type="password" ng-model="credentials.password" placeholder="Senha" required autofocus>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <button class="btn btn-primary btn-block" type="submit">
              <span class="glyphicon glyphicon-log-in"></span> Entrar
            </button>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <small>
          Novo por aqui? <a href="#/user/new">Crie uma nova Conta</a>
        </small>
      </div>
    </div>
  </div>
</form>
