<div class="panel panel-primary" ng-controller="AcervoUserCtrlr" ng-init="edit(params.id); __id = params.id;">
  <div class="panel-heading">
    <h4>{{data.titulo}}</h4>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal">
      <dt>Sinopse</dt>
      <dd>{{data.sinopse}}</dd>
    </dl>

    <dl class="dl-horizontal">

      <dt>Título</dt>
      <dd>{{data.titulo}}</dd>

      <dt>Autor</dt>
      <dd>{{data.autor}}</dd>

      <dt>Aluguel</dt>
      <dd>R$ {{data.precoLocacao}}</dd>
    </dl>
  </div>
  <div class="panel-footer clearfix" ng-controller="LocacaoUserCtrlr">
    <div class="btn-group pull-right">
      <a class="btn btn-sm btn-default" href="#/user/acervo">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>
      <a class="btn btn-sm btn-success" href="javascript:void(0);" ng-click="reservar(user.credentials.id, __id)">
        <span class="glyphicon glyphicon-heart"></span> Reservar</a>
      <a class="btn btn-sm btn-primary" href="javascript:void(0);" ng-click="locar(user.credentials.id, __id)">
        <span class="glyphicon glyphicon-shopping-cart"></span> Alugar</a>
    </div>
  </div>
</div>
