<section ng-controller="LocacaoUserCtrlr" ng-init="load()">
 <ol class="breadcrumb">
    <li>
      <a href="#/user">
        Início</a></li>
    <li>
      Locações</li>
  </ol>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 2rem;">
          Status</th>
        <th>
          Locação</th>
        <th style="width: 8rem;">
          Ações</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td class="text-center" colspan="3" ng-if="itens == null || itens.length == 0">
          <em>
            Nenhuma locação a exibir</em>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="locacao in itens">
        <td>
          <a class="btn" href="javascript:void(0);">
            <span class="glyphicon glyphicon-ok text-success" title="Encerrada" ng-if="locacao.status == 'ENCERRADA'"></span>
            <span class="glyphicon glyphicon-alert text-danger" title="Em Atraso" ng-if="locacao.status == 'VENCIDA'"></span>
            <span class="glyphicon glyphicon-info-sign text-info" title="Dentro do prazo" ng-if="locacao.status == 'OK'"></span>
          </a>
        </td>
        <td>
          <a href="#{{url}}/{{locacao.id}}" ng-disabled="locacao.status == 'ENCERRADA'">
            &#35;{{locacao.id}} - <strong>{{locacao.itemAcervo.titulo}}</strong> ({{locacao.status}})
            <br>
            <small>
              {{locacao.itemAcervo.categoria}} :: <em>R$ {{locacao.itemAcervo.precoLocacao}}</em>
            </small>
          </a>
        </td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-primary" href="javascript:void(0);" title="Devolver" ng-click="devolver(locacao.id)" ng-disabled="locacao.status == 'ENCERRADA'">
              <span class="glyphicon glyphicon-usd"></span>
            </a>
            <a data-target="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-th-list"></span> Ver detalhes</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
